<html ng-app="reportContentApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/reportContent/style_content.css">
    <link rel="stylesheet" href="../scripts/external/autoComplete/autoComplete.css">
    <title>Micala</title>
</head>

<body ng-controller="reportContentCtrl">
    <ng-include src="'/navbar.html'"></ng-include>
    <div id="content">
        <div class="header">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-3">
                        <div class="header_logo">
                            <a href="/"><img src="../images/logo.png"></a>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="input">
                            <div class="input-group" id="search_bar">
                                <div class="input-group-prepend">
                                    <button type="button" class="btn btn-outline-secondary dropdown-toggle"
                                        data-toggle="dropdown">
                                        Image
                                    </button>
                                    <div class="dropdown-menu Image">
                                        <a class="dropdown-item" id="di_Image" href="#">
                                            <div class="check-box checked"></div>
                                            <span>Image</span>
                                        </a>
                                        <a class="dropdown-item" id="di_Report" href="#">
                                            <div class="check-box"></div>
                                            <span>Report</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="form-control searchBar">
                                    <input type="text" id="txtSearch" placeholder="Search" ng-model="txtSearch"
                                        ng-keypress="txtSearchClick($event);">
                                </div>
                            </div>
                            <div class="adjust_icon btn btn-primary" type="button" class="" data-toggle="modal"
                                data-target="#exampleModal"></div>
                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <ng-include src="'/qidoSearchOption.html'"></ng-include>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                ng-click="test();">確定</button>
                                            <button type="button" class="btn btn-primary">清除</button>
                                            <button type="button" class="btn btn-warning"
                                                onclick="$('#exampleModal').modal('hide')">close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="setting_icon"  data-toggle="modal"
                        data-target="#settingModal"></div>
                        <div class="modal fade" id="settingModal" tabindex="-1" role="dialog"
                                aria-labelledby="settingModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <select class="form-control" ng-model="selectProfile">
                                                <option>NONE</option>
                                                <option>CXR</option>
                                            </select>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                ng-click="test();">確定</button>
                                            <button type="button" class="btn btn-primary">清除</button>
                                            <button type="button" class="btn btn-warning"
                                                data-dismiss="modal">close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="result">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active" ng-repeat="item in wadoUrlList" ng-if="$index == 0" laz
                                    data-interval="2000">
                                    <img data-original={{item}} class="d-block lazy" alt="...">
                                </div>
                                <div class="carousel-item" ng-repeat="item in wadoUrlList" ng-if="$index != 0">
                                    <img data-original={{item}} class="d-block lazy" alt="...">
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleControls" role="button"
                                data-slide="prev" aria-pressed="false">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleControls" role="button"
                                data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                        <div class="mt-3">
                            <!--這裡放詳細資料，大量文字-->
                            <h3> {{patient.id}}-{{patient.name[0].text}}-{{imagingStudy.started | date:'yyyyMMdd'}}</h3>
                            <a class="btn btn-lg btn-dark btn-block" href="https://bluelight.ntunhs.space?StudyInstanceUID={{imagingStudy.dicomJson['0020000D'].Value[0]}}">View in DICOM Viewer</a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <!--我是大標題-->
                        <h5>Report</h5>
                        <p style="white-space: pre-line; font-size: 20px;" ng-bind-html="reportBold(FULLTEXT)"></p>
                        <!--這裡放基本資料-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazyload/1.9.1/jquery.lazyload.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js">
</script>
<script src="../scripts/config.js"></script>
<script src="../scripts/common.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.9/angular.min.js"></script>
<script src="../scripts/external/angularjs/ui-bootstrap-tpls-3.0.6.min.js"></script>
<script type="text/javascript" src="../scripts/ngCommon.js"></script>
<script type="text/javascript" src="../scripts/ESreportContent/ESreportContent.js"></script>
<script type="text/javascript" src="../scripts/script.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@7.2.0/dist/js/autoComplete.min.js"></script>

</html>
<script>
    $("#carouselExampleControls a").click(function (e) {
        e.preventDefault();
        //console.log("test");
    })
</script>