<html ng-app="searchApp">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" >
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" >
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../css/search/style_search.css">
        <link rel="stylesheet" href="../scripts/external/autoComplete/autoComplete.css">
        <title>Micala</title>
    </head>
    <body ng-controller="searchCtrl" ng-init='init();'>
        <ng-include src="'/navbar.html'"></ng-include>
        <div id="search" style="padding-top: 50px;">
            <div class="header">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-3">
                            <div class="header_logo">
                                <a href="/"><img src="images/logo.png"></a>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="input">
                                <div class="input-group" id="search_bar">
                                    <div class="input-group-prepend">
                                    <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown">
                                        Image
                                    </button>
                                    <div class="dropdown-menu Image">
                                        <a class="dropdown-item" id="di_Image" href="#">
                                            <div class="check-box checked"></div>
                                            <span>Image</span>
                                        </a>
                                        <a class="dropdown-item" id="di_Report" href="#">
                                            <div class="check-box"></div>
                                            <span>Report</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="form-control searchBar">
                                    <input type="text" id="txtSearch"  placeholder="Search" ng-model="txtSearch" ng-keypress="txtSearchClick($event);">
                                </div>
                                </div>
                                <div class="adjust_icon btn btn-primary" type="button" class="" data-toggle="modal" data-target="#exampleModal"></div>
                                <!-- Modal -->
                                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                  <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <ng-include id="qidoSearchOption" src="'qidoSearchOption.html'"></ng-include>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" ng-click="test();">確定</button>
                                            <button type="button" class="btn btn-danger" ng-click ="clearOption();" ><strong">X清除</strong></button>
                                            <button type="button" class="btn btn-warning" data-dismiss="modal">close</button>
                                        </div>
                                    </div>
                                  </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="setting_icon"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="result">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 p-3">
                            <fieldset ng-repeat="(key , item) in aggsData">
                                <legend>{{key}}</legend>
                                <div class="facet_checkboxs" ng-repeat="buckets in item.termAgg.buckets | orderBy:'key' ">
                                    <label class="facet_checkboxs_label" for="check-{{buckets.key}}" style="width:100%;">
                                        <input id="check-{{buckets.key}}" type="checkbox" ng-model="facets[key][buckets.key].checked" ng-change="facetsCheckChange(key , buckets.key)">
                                        <span class="facet_checkboxs_text">{{buckets.key}}</span>
                                        <span class="badge badge-dark badge-pill float-right">{{buckets.doc_count}}</span>
                                    </label>

                                    <div ng-repeat="(detectionKey ,detection) in buckets.detection">
                                        <label class="facet_checkboxs_label_2" for="check-detection-{{buckets.key}}-{{detection.key}}" style="width:100%;">
                                            <input id="check-detection-{{buckets.key}}-{{detection.key}}" ng-model="facets[key][buckets.key].detection[detection.key].checked" ng-change="facetsLevel2CheckChange(key , buckets.key ,detection.key)" type="checkbox">
                                            <span class="facet_checkboxs_text_level2">{{detection.key}}<span class="badge badge-success badge-pill float-right">{{detection.doc_count}}</span></span>
                                        </label>
                                    </div>
                                    <legend></legend>
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-md-9">
                            <div class="result_list"  ng-repeat="item in dataList" >
                                <div class="form-inline form-align-top ">
                                    <div class="col-md-5 text-center">
                                        
                                        <img class="lazy" id="img_result_{{$index}}"  src="/images/loading.gif">
                                    </div>
                                    <div class="col-md-7">
                                        <span>
                                            <a ng-href="/reportcontent?id={{item.imagingstudy.id}}" style="color: #707070;">
                                                {{item.id}}-{{item.name[0].text}}-{{item.imagingstudy.started | date:'yyyyMMdd'}}
                                            </a>
                                            <span class="span_text" ng-bind-html="highlight(item.imagingstudy)"></span>
                                            <!--<span class="span_text" ng-bind-html="refreshData(item.report.Records.FULLTEXT)"></span> !-->
                                            <!-- refreshData(item.Records.Records[item.Records.Records.length-1].FULLTEXT)-->
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12" ng-show="dataList.length > 0">
                            <span>顯示資料 第{{(resultPerPage*(resultCurPage-1))+1 }}筆~第{{resultCurPage*resultPerPage}}筆</span>
                            <ul uib-pagination total-items="resultCount" ng-model="resultCurPage" boundary-link-numbers="true" rotate="true" max-size="3" boundary-links="true"  class="pagination-sm"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazyload/1.9.1/jquery.lazyload.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.9/angular.min.js"></script>
    <script src="../scripts/external/angularjs/ui-bootstrap-tpls-3.0.6.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@7.2.0/dist/js/autoComplete.min.js"></script>
    <script type="text/javascript" src="../scripts/script.js"></script>
    <script src="../scripts/config.js"></script>
    <script src="../scripts/common.js"></script>
    <script type="text/javascript" src="../scripts/ngCommon.js"></script>
    <script type="text/javascript" src="../scripts/ESsearch/ESsearch.js"></script>
    
</html>